body {
    padding:0;
    margin: 0 4cm;
    background-color: rgb(82, 74, 74);
}

.project-heading {
    text-align: center;
    color: rgb(180, 57, 57);
    font-family: unset;
    font-size: 1.2cm;
    -webkit-text-stroke: black;
    -webkit-text-stroke-width: thin;
}

.project-image {
    width: 50%;
    display: block;
    margin: 0 auto;
}

.project-heading2 {
    font-size: 1cm;
    color: coral;
    margin: 0.5cm;
    -webkit-text-stroke-color:black;
    -webkit-text-stroke-width: thin;
}

.project-text {
    font-size: 0.7cm;
    color:rgb(70, 185, 185);
    -webkit-text-stroke-color: rgb(49, 21, 21)
    -webkit-text-stroke-width: thick;
}

.project-text2 {
    font-size:0.6cm;
    text-align: center;
    color:wheat;
}

.project-heading4 {
    font-size: 0.8cm;
    margin:0.5cm;
    color: rgb(160, 9, 9);
-webkit-text-stroke-color: rgb(10, 6, 6);  
-webkit-text-stroke-width: thin;

}

.project-heading5 {
    font-size: 3cm;
    color: red;
    -webkit-text-stroke-color: mintcream;
    -webkit-text-stroke-width: thin;
}

.project-image2 {
    margin: 0 auto;
    width: 60%;
    display: block;
}

.project-image3 {
    width: 35%;
    margin: 0 auto;
    display: grid;
}

.footer {
    text-align: center;
    color:rgb(95, 31, 31);
    background-color: tomato;
    font-size: 0.6cm;
    bottom: 0;
}